@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    align-items: center;
    background: #16171a;
    user-select: none;
    color: white;
}

nav.scrolled {
    transition: .7s ease;
    background-color: #994D1C;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    color: white;
}

.w-17 {
    width: 12%;
}

.w-10{
    width: 8%;
}

h6 {
    margin: 0;
    color: #eaeaeb;
}

p {
    font-size: 14px;
    color: #aaaaaa;
    margin: 0;
}

.btn1 {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #fff;
    background: rgba(128, 128, 128, 0);
    border-radius: 50px;
    margin-bottom: 18px !important;
}

.half {
    background: linear-gradient(0deg, rgba(22, 23, 26, 1) 44%, rgba(22, 23, 26, 0.8939950980392157) 74%, rgba(22, 23, 26, 0.7819502801120448) 90%, rgba(22, 23, 26, 0) 100%);
}

.durasi {
    font-size: 14px;
}

.btn-heart {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 25px;
    color: #D04848;
    background: rgba(128, 128, 128, 0);
    border-radius: 50px;
    margin-top: 5px;
}

#cb {
    display: none;
}

#cb:checked~.content {
    display: block;
}

#cb:checked~label {
    display: none;
}

.content {
    display: none;
}

label {
    display: inline-block;
    background-color: rgb(1, 74, 209);
    padding: 3px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 13px;
}

.modus-icons {
    color: white;
    padding: 0px 0px 0px 0px;
    font-size: 50px;
    margin-top: 8px;
    margin-left: -4px;
}

.additional-text {
    display: none;
}

.accordion-button{
    background-color: transparent;
    border-radius: 0;
    color: white;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-collapse{
    background-color: #16171a;
}
.accordion-button:not(.collapsed) {
    background-color: #16171a;
    color: white;
}
#mainNav {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

#mainNav.scrolled {
    background-color: #16171a;
    border-bottom: 0.1px solid rgba(207, 207, 207, 0.438);
}
#mainNav .txt-detail.scrolled {
    color: white;
}
.accordion-item{
    background-color: #16171a;
}
.accordion-button:not(.collapsed){
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
    color: white;
}
.bi-chevron-down::before{
    font-size: 16px;
    background-color: white;
    border-radius: 40px;
    padding: 5px;
}
.eps-icon-down::after {
    background-image: url(img/down.png);
    width: 26px;
    height: 26px;
    margin-left: auto;
    content: "";
    background-repeat: no-repeat;
    transition: var(--bs-accordion-btn-icon-transition);
    background-size: 26px;
}
.eps-icon-down:not(.collapsed)::after {
    background-image: url(img/down.png);
}
.txt-detail{
    margin-top: 1.2rem !important;
}