@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    align-items: center;
    background: #16171a;
    user-select: none;
    color: white;
}

.w-17 {
    width: 12%;
}

h6 {
    margin: 0;
    color: #eaeaeb;
}

p {
    font-size: 14px;
    color: #aaaaaa;
    margin: 0;
}

.btn1 {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 40px;
    color: #fff;
    background: rgba(128, 128, 128, 0);
    border-radius: 50px;
}

.half {
    background: linear-gradient(0deg, rgba(22, 23, 26, 1) 44%, rgba(22, 23, 26, 0.8939950980392157) 74%, rgba(22, 23, 26, 0.7819502801120448) 90%, rgba(22, 23, 26, 0) 100%);
}

.durasi {
    font-size: 14px;
}

.btn-heart {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 25px;
    color: #D04848;
    background: rgba(128, 128, 128, 0);
    border-radius: 50px;
}

#cb {
    display: none;
}

#cb:checked~.content {
    display: block;
}

#cb:checked~label {
    display: none;
}

.content {
    display: none;
}

label {
    display: inline-block;
    background-color: rgb(1, 74, 209);
    padding: 3px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 13px;
}

.modus-icons {
    color: white;
    padding: 4px 8px 3px 0px;
    border-radius: 40px;
    font-size: 50px;
    margin-top: 5.79px;
}

.additional-text {
    display: none;
}